{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{#    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" type="text/css" />#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ssd8c8ip5h&submodules=geocoder,panorama"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
  </head>


<body>
<div>
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'bootstrap.min.js' %}"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>