<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>네이버 지도 파노라마</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ssd8c8ip5h"></script>
</head>
<body>
    {% if panorama_url %}
        <h1>주소에 대한 파노라마</h1>
        <iframe width="100%" height="600" frameborder="0" src="{{ panorama_url }}"></iframe>
        <div id="pano" style="width:100%;height:400px;"></div>
    {% elif error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>