{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>{{ result}}</h1>
    {% csrf_token %}
        
        <div id="pano"></div>
<button id="captureBtn">파노라마 캡처</button>
<div id="output"></div>
    
                    <div class="justify-content-center" id="wrap-loading"
                         style="z-index: 10000; display:none">
                        <img src="{% static 'images/loading.gif' %}" alt="Loading..."/>
                    </div>

{% endblock %}



{% block script %}
    <script type="text/javascript">
    var alertText = {{ alert_text|safe }};
    
</script>
<script>
    
    var results = {{ result|safe }};
    console.log(results);
    var address = results.items[0].roadAddress;
        naver.maps.Service.geocode({
            query: address
        }, function(status, response) {
            if (status !== naver.maps.Service.Status.OK) {
                return alert('Something wrong!');
            }

            var result = response.v2, // 검색 결과의 컨테이너
                items = result.addresses; // 검색 결과의 배열

            console.log(result.addresses);
            var addressElements = result.addresses; // 결과 주소 요소 배열

            // 첫 번째 주소 요소의 x와 y 값을 가져오는 예시
            var x = addressElements[0].x; // 경도
            var y = addressElements[0].y; // 위도

            console.log("x:", x);
            console.log("y:", y);
            var pano = new naver.maps.Panorama(document.getElementById("pano"), {
                position: new naver.maps.LatLng(y, x),
                size: new naver.maps.Size(512, 512),
                pov: {
                    pan: -135,
                    tilt: 29,
                    fov: 100
                },

            });

            

document.getElementById('captureBtn').addEventListener('click', function() {
    // #pano 영역을 캡처하여 이미지 생성
    console.log(alertText);
    domtoimage.toPng(document.getElementById('pano'), {
        quality: 1, // 이미지 품질
        width: 512, // 이미지 너비
        height: 512, // 이미지 높이
    })
    .then(function(dataUrl) {
        // 생성된 이미지 데이터를 Base64 문자열로 서버에 AJAX 요청으로 전송
        $.ajax({
            url: "disaster",
            type: "POST", // HTTP 요청 방식을 POST로 설정
            contentType: "application/json",
            data: JSON.stringify({
                image: dataUrl, // 이미지 데이터
                alert_text: alertText // 기타 필요한 데이터
            }),
            success: function(data) {
                $("#output").append(data);
            },
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                var loading = $("#wrap-loading");
                $("#result-img").remove();
                loading.addClass("d-flex");
                loading.show();
            },
            complete: function() {
                var loading = $("#wrap-loading");
                loading.removeClass("d-flex");
                loading.hide();
            },
        });
    })
    .catch(function(error) {
        console.error('Capture failed:', error);
    });
});
        });
    </script>
{% endblock %}
